= render 'admin/layouts/header'
#wrapper
  = render 'admin/layouts/sidebar'
  #content-wrapper
    .container-fluid
      / Breadcrumbs
      %ol.breadcrumb
        %li.breadcrumb-item
          = link_to 'Registros de entrada y salida', admin_registries_path
        %li.breadcrumb-item.active Todos
      .card.mb-3
        .card-header
          .row.justify-content-between
            .col-3.align-self-center
              %i.fas.fa-table
              Lista de Registros
            .col-3
        .card-body
          .table-responsive
            %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
              %thead
                %tr
                  %th Usuario
                  %th Cédula
                  %th Tipo
                  %th Fecha / Hora
                  %th Notas
              %tbody
                - @registries.each do |registry|
                  %tr
                    %td.align-middle=registry.user.full_name
                    %td.align-middle=registry.user.id_number
                    %td.align-middle=registry.registry_type
                    %td.align-middle=registry.created_at.strftime('%m-%d-%Y - %l:%M %p')
                    %td.align-middle=registry.try(:notes)

= render 'admin/layouts/footer'
